<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    {% block title%}{% endblock %}
</head>
<body>
    <section id="one">
        <div class="image main " data-position="center" >
           {% block image %}{% endblock %}
            <!-- <img src="../static/images/banner.jpg" alt="" /> -->
        </div>
        
</section>
    {% block content %}{% endblock %}
    {% include "footer.html" %}
</body>
</html>