{% extends "base.html" %}
{% block title %} <title>Mindfulness</title>{% endblock %}

{% block image %}
<section id="banner">
    <div class="image main" data-position="center">
        <img src="../static/images/pic06.jpg" alt="" />
    </div>
</section>
{% endblock %}


{% block content %}

<!-- Header -->
<section id="header" style="height: 50vh; display: flex; justify-content: center; align-items: center;">
   
   
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">Apibrėžimas</a></li>
            <li><a href="#two">Kilmė ir suteikiama nauda</a></li>
            <li><a href="#three">Praktika</a></li>
            <li><a href="#four">Daugiau informacijos</a></li>
        </ul>
    </nav>
  
</section>


<div id="wrapper">
    <!-- Main -->
    <div id="main">

        <!-- Section One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>Mindfulness</h2>
                    <blockquote>
                        <p>Mindfulness - tai suvokimas atsirandantis tikslingai sukoncentruojant dėmesį į dabarties momentą, jo nevertinant.</p>
                        <p style="text-align: center;">John Kabat-Zinn</p>
                    </blockquote>
                    <p>Mūsų protas dažnai kažkur klajoja - tai permąstydamas praeitį, tai planuodamas ateitį. Nuolatinis klaidžiojimas gali būti varginantis.</p>
                    <p>Mindfulness išmoko įgūdžių sutelkti dėmesį į dabarties momentą bei pastebėti, kuomet jis nukrypsta kitur ir jį grąžinti. Dažnai mindfulness praktikose su dabarties momentu susijungti naudojamas kvėpavimas. Sutelkus dėmesį į kvėpavimą, galima nuraminti savo protą ir pailsėti.</p>
                    <p>Nors mindfulness savo esme ir savo tikslais yra labai paprastas, jo praktika yra gana sudėtinga. Taip yra todėl, kadangi mindfulness praktikos tikslas yra sugebėti nuolat atsigręžti į dabartinį momentą ir jame būti, kad ir kas tuo metu vyksta, o mes sudėtingų ar diskomfortą keliančių patirčių instinktyviai vengiame.</p>
                </header>
            </div>
        </section>

        <!-- Section Two -->
        <section id="two">
            <div class="container">
                <h4>Mindfulness kilmė ir suteikiama nauda</h4>
                <p>Mindfulness nauda sveikatai ir gyvenimo kokybei yra patvirtinta moksliniais tyrimais.</p>
                <p>Tyrimai prasidėjo nuo 1979m., kuomet John Kabat-Zinn sukūrė mindfulness grįstą streso mažinimo programą (angl. Mindfulness-Based Stress Reduction (MBSR)) Masačiusetso universiteto medicinos centre.</p>
                <p>Kabat-Zinn sujungė hatha jogos studijas su įsisąmoninimo praktikomis ir budistiniais meditacijos principais.</p>
                <p>Nuo MBSR programos sukūrimo buvo atlikta gausybė tyrimų ir nustatyta, kad mindfulness praktikavimas teikia įvairios naudos:</p>
                <ul class="feature-icons">
                    <li class="fa-regular fa-lightbulb">Gerina kognityvinius gebėjimus</li>
                    <li class="icon solid fa-brain">Lėtina smegenų senėjimą</li>
                    <li class="icon solid fa-smile">Mažina stresą, nerimą, depresijos simptomus</li>
                    <li class="icon solid fa-thumbs-up">Padidina asmeninės gerovės jausmą</li>
                    <li class="icon solid fa-pills">Prisideda prie lėtinio skausmo gydymo</li>
                    <li class="icon solid fa-child-reaching">Pagerina sergančių lėtinėmis ligomis gyvenimo kokybę</li>
                </ul>
            </div>
        </section>

        <!-- Section Three -->
        <section id="three">
            <div class="container">
                <h4>Mindfulness praktika</h4>
                <p>Mindfulness mokymas ir praktika įvairiose tradicijose remiasi šiais trimis svarbiausiais elementais:</p>
                <ol>
                    <li><b>Dėmesingo įsisąmoninimo ugdymas naudojant formalias ir neformalias mindfulness praktikas</b></li>
                    <li><b>Požiūrio į gyvenimą, pasižyminčio geranoriškumu, smalsumu ir noru būti esame momente su atsirandančiomis patirtimis, ugdymas.</b></li>
                    <li><b>Žmogaus pažeidžiamumo suvokimas.</b> Naudojant mindfulness meditacines praktikas galima suprasti, įsisavinti ir naudoti tą suvoktą faktą, kad, nors skausmas/diskomfortas yra neatskiriama žmogiškosios egzistencijos dalis, yra būdų kaip neįsitraukti į įprastą praktiką stiprinti jį ir ilginti per savo intensyvų reagavimą.</li>
                </ol>
                <p>Mindfulness galima pradėti praktikuoti bet kokiame amžiuje. Netgi manoma, kad šį įgūdį kultyvuojant vaikystėje, galima tikėtis užauginti itin sąmoningą, geranorišką ir atjaučiančią kartą.</p>
                <p>Praktikuoti galima pradėti jau dabar, nepraėjus formalių kursų. Pradžioje įgūdžiams įgauti galima naudoti įvairius mindfulness meditacijų įrašus, mobiliasias programėles, edukacinėse knygose pateiktus mindfulness praktikų tekstus.</p>
            </div>
        </section>

        <!-- Section Four -->
        <section id="four">
            <div class="container">
                <h4>Daugiau informacijos</h4>
                <p>Daugiau informacijos ir mindfulness praktikų įrašų rasite paspaudę šias nuorodas:</p>
                <ol>
                    <li><a href="https://www.mindful.org/meditation/mindfulness-getting-started/">Getting Started with Mindfulness - Mindful</a></li>
                    <li><a href="https://www.healthline.com/health/mind-body/what-is-mindfulness#benefits">What is Mindfulness: Benefits, How to Practice, and More</a></li>
                    <li><a href="https://www.nhs.uk/mental-health/self-help/tips-and-support/mindfulness/">Mindfulness - NHS</a></li>
                    <li><a href="https://positivepsychology.com/benefits-of-mindfulness/">23 Amazing Health Benefits of Mindfulness for Body and Brain</a></li>
                    <li><a href="https://news.harvard.edu/gazette/story/2018/04/less-stress-clearer-thoughts-with-mindfulness-meditation/">Less stress, clearer thoughts with mindfulness meditation — Harvard Gazette</a></li>
                </ol>
            </div>
        </section>

    </div>

    <!-- Footer -->
    {% include "footer.html" %}
</div>
{% endblock %}

<!-- Add the same scripts as in the second page -->
{% block scripts %}
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrollex.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
{% endblock %}
