
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 sesija</title>
</head>
<body>
    <h1>1 sesija</h1>
    <p>Data</p>
    <table style="width:360px">
<tr style="height: 75px; width: 360px;">
    <colgroup>
    <td col-2>HAD</td>
    
      
    <td col-4 >BAT, YBOX, VAS, kt</td>
    
<td col-2>BDI</td>
</colgroup>
</tr>
<tr style="height: 200px;"> <td>Problema</td>

</tr>
<tr style="height:100px;">
    <td >
        Lūkesčiai
    </td>
    
    
    
    

</tr>
<tr style="height: 100;">
    <td style="width:180%">    FINDIE
    </td>
</tr>
<tr><td>
    Intervencija
</td>
</tr>
<tr>
    <td>
        N.D. Monitoringas.
    </td>
</tr>
<tr>
    <td>Atgalinis ryšys</td>
</tr>
<tr>
    <td>Pastabos</td>
</tr>
    </table>
</body>
</html>